

.cs_banner.cs_style_33{
    height: 623.531px;
    padding: 225px 0 155px;
    min-height: 600px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
    .cs_banner.cs_style_33 .cs_banner_img {
        padding-left: 12px;
    }
.cs_banner.cs_style_33 .cs_banner_img {
    left: 0;
    width: 50%;
    padding-right: 12px;
}
.cs_main_banner_img{
    vertical-align: middle;
    width: 576px;
    height: 486.708px;
}

.cs_banner.cs_style_33 .cs_banner_img{
    position: absolute;
    bottom: 0;
    height: 100%;
    display: flex;
    -webkit-box-align: end;
    align-items: flex-end;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 110px;
}
.cs_banner.cs_style_33 .cs_banner_text {
    margin-left: auto;
}
.cs_banner.cs_style_33 .cs_banner_text {
    position: relative;
    z-index: 1;
    width: 50%;
}
.cs_banner.cs_style_33 .cs_banner_title{
    margin-bottom: 25px;
}
    .cs_fs_72g {
        font-size: 56px;
        line-height: 63.84px;
        font-family: "Figtree", sans-serif;
        clear: both;
        color: #274760;
    }
.cs_banner.cs_style_33 .cs_banner_subtitlesd {
    max-width: 550px;
     font-size: 18px;
     color: rgb(39, 71, 96);
     font-family: "Poppins", sans-serif;
     font-weight: 400;
     line-height: 27px;
}








.cs_footer_margin_0 {
    margin-bottom: -305px;
}
.cs_bg_filed {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.cs_banner.cs_style_4 {
    position: relative;
    box-shadow: rgba(48, 123, 196, 0.09) 6px 4px 70px 8px;
    border-radius: 30px 30px 0px 0px;
}
    .cs_banner.cs_style_4 {
        padding: 140px 130px 340px;
    }
.cs_banner.cs_style_4 .cs_banner_title {
    margin-bottom: 12px;
}

.cs_banner.cs_style_4 > * {
    position: relative;
    z-index: 2;
}

.cs_white_color {
    color: rgb(255, 255, 255);
}

.cs_fs_20 {
    font-size: 20px;
    line-height: 1.5em;
}




.Backseat-container{
    margin-left:60px;
    margin-right:60px;
    padding-left:15px;
    padding-right:15px'
}
