@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contact{
    width: 100%;
    height: 598px;
    /* border: 1px solid black; */
    background-image: url(/src/assets/images/banner_bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    /* background-color: rgba(0, 0, 0, 0); */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8%;
    /* background-color: rgba(0, 0, 0, 0.119); */
    background-blend-mode: darken;
}
.contact-image{
    width: 40%;
    height: 598px;
    /* border: 1px solid black; */
    display: flex;
    align-items: end;
    justify-content: end;
}
.contact-image img{
    max-width: 100%;
}
.contactHeader{
    width: 45%;
    height: 120px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contactHeader h1{
    font-family: "Figtree", sans-serif;
    font-weight: 700;
    line-height: 1.2em;
    clear: both;
    color: #274760;
    font-size: 56px;
}
.contactHeader p{
    font-size: 18px;
    color: #274760;
}
.contactform{
    width: 100%;
    height: 480px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-container{
    width: 75%;
    height: 570px;
    /* border: 1px solid black; */
    background-color: white;
    border-radius: 20px;
    box-shadow: 3px 3px 3px 3px gray;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contactinfo{
    width: 80%;
    height: 500px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    gap: 2%;
}
.Namediv{
    width: 100%;
    height: 100px;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4%;
}

.form-group input,
.form-group .react-datepicker-wrapper,
.form-group .react-select__control {
  width: 100%;
  height: 65px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 20px;
  font-size: 16px;
  border: 1px solid #274760;
  outline: none;
}
.form-group{
    width: 50%;
    height: 100px;
    display: flex;
    gap: 6%;
    flex-direction: column;
    /* border: 1px solid black; */
}
.form-group2{
    width: 50%;
    height: 100px;
    display: flex;
    gap: 6%;
    flex-direction: column;
    /* border: 1px solid black; */
}
.form-group1{
    width: 100%;
    height: 100px;
    display: flex;
    gap: 6%;
    flex-direction: column;
    /* border: 1px solid black; */
}
.input1 {
  width: 100%;
  height: 65px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 20px;
  font-size: 16px;
  border: 1px solid #274760;
  outline: none;
}
.select{
    width: 100%;
  height: 65px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 20px;
  font-size: 16px;
  border: 1px solid #274760;
  background-color: none;
  outline: none;
}
.date1{
    width: 100%;
    height: 65px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
    font-size: 16px;
    border: 1px solid #274760;
    outline: none;
}
.form-group3{
    width: 50%;
    height: 100px;
    display: flex;
    gap: 6%;
    flex-direction: column;
    /* border: 1px solid black; */
}
.submit-button5{
    width: 20%;
    height: 47px;
    background-color: #307bc4;
    font-size: 18px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7%;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}
.find{
    width: 100%;
    height: 1000px;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;

}
.findus{
    width: 90%;
    height: 800px;
    /* border: 1px solid black; */
}
.find-title{
    width: 100%;
    height: 100px;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
}
.findh1{
    font-family: "Figtree", sans-serif;
    color: #274760;
    font-size: 45px;
    font-weight: 700;
    line-height: 1.2em;
    clear: both;
}
.findicons{
    width: 100%;
    height: 150px;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;

}
.icon-container{
    width: 32%;
    height: 110px;
    border: 1px solid #307bc4;
    display: flex;
    align-items: center;
    border-radius: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    cursor: pointer;
}
.icon-container:hover{
    background-color: #4283c4b3;
}
.icon-cont{
    width: 30%;
    height: 80px;
    /* border: 1px solid black; */
    background-image: url(/src/assets/contact/icon_1.svg);
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
}
.icon-details{
    width: 60%;
    height: 70px;
    /* border: 1px solid black; */
    gap: 9%;
    display: flex;
    flex-direction: column;
    color: #274760;
}
.icon-details h3{
    font-size: 18px;
    font-weight: 700;
    color: #274760;
}
.icon-cont1{
    width: 30%;
    height: 80px;
    /* border: 1px solid black; */
    background-image: url(/src/assets/contact/icon_2.svg);
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
}
.icon-cont2{
    width: 30%;
    height: 80px;
    /* border: 1px solid black; */
    background-image: url(/src/assets/contact/icon_3.svg);
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
}
.geolocation-container{
    width: 100%;
    height: 500px;
    border: 1px solid black;
    border-radius: 20px;
}

@media screen and (max-width: 1101px) {
    .findus{
        width: 100%;
        height: 800px;
        /* border: 1px solid black; */
    }
    .icon-container{
        width: 33%;
        height: 110px;
        border: 1px solid #307bc4;
        display: flex;
        align-items: center;
        border-radius: 20px;
        -webkit-transition: all 0.4s ease;
        transition: all 0.4s ease;
        cursor: pointer;
    }
}


@media screen and (max-width: 993px) {
    .contact-image{
        width: 50%;
        height: 598px;
        /* border: 1px solid black; */
        display: flex;
        align-items: end;
        justify-content: end;
    }
    .contact-container{
        width: 90%;
        height: 570px;
        /* border: 1px solid black; */
        background-color: white;
        border-radius: 20px;
        box-shadow: 3px 3px 3px 3px gray;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .contactinfo{
        width: 89%;
        height: 500px;
        /* border: 1px solid black; */
        display: flex;
        flex-direction: column;
        gap: 2%;
    }
    .findicons{
        width: 100%;
        height: 500px;
        /* border: 1px solid black; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        justify-content: space-between;
    
    }
    .icon-container{
        width: 50%;
        height: 160px;
        border: 1px solid #307bc4;
        display: flex;
        align-items: center;
        border-radius: 20px;
        -webkit-transition: all 0.4s ease;
        transition: all 0.4s ease;
        cursor: pointer;
    }
    .find{
        width: 100%;
        height: 1300px;
        /* border: 1px solid black; */
        display: flex;
        align-content: center;
        justify-content: center;
    }
    .geolocation-container{
        width: 100%;
        height: 500px;
        /* border: 1px solid black; */
        border-radius: 20px;
    }
    .findus{
        width: 100%;
        height: 1100px;
        /* border: 1px solid black; */
    }
}

@media screen and (max-width: 745px) {
    .contact{
        width: 100%;
        height: 598px;
        /* border: 1px solid black; */
        background-image: url(/src/assets/images/banner_bg.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-blend-mode: darken;
        /* background-color: rgba(0, 0, 0, 0); */
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        gap: 18%;
        /* background-color: rgba(0, 0, 0, 0.119); */
        background-blend-mode: darken;
    } 
    .contact-image{
        width: 50%;
        height: 250px;
        /* border: 1px solid black; */
        display: flex;
        align-items: end;
        justify-content: end;
    }
    .contactHeader{
        width: 57%;
        height: 120px;
        /* border: 1px solid black; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        justify-content: space-between;
        margin-top: 100px;
    }
    .icon-container{
        width: 60%;
        height: 140px;
        border: 1px solid #307bc4;
        display: flex;
        align-items: center;
        border-radius: 20px;
        -webkit-transition: all 0.4s ease;
        transition: all 0.4s ease;
        cursor: pointer;
    }
    
}

@media screen and (max-width: 737px) {
    .contactHeader{
        width: 60%;
        height: 120px;
        /* border: 1px solid black; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        justify-content: space-between;
        margin-top: 100px;
    }
}


@media screen and (max-width: 699px) {
    .contactHeader{
        width: 69%;
        height: 120px;
        /* border: 1px solid black; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        justify-content: space-between;
        margin-top: 100px;
    }
    .contact-image{
        width: 62%;
        height: 250px;
        /* border: 1px solid black; */
        display: flex;
        align-items: end;
        justify-content: end;
    }
}

@media screen and (max-width: 591px) {
    .contact-container{
        width: 100%;
        height: 570px;
        /* border: 1px solid black; */
        background-color: white;
        border-radius: 20px;
        box-shadow: 3px 3px 3px 3px gray;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .submit-button5{
        width: 30%;
        height: 47px;
        background-color: #307bc4;
        font-size: 18px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 7%;
        border-radius: 20px;
        border: none;
        cursor: pointer;
    }
    .icon-container{
        width: 80%;
        height: 140px;
        border: 1px solid #307bc4;
        display: flex;
        align-items: center;
        border-radius: 20px;
        -webkit-transition: all 0.4s ease;
        transition: all 0.4s ease;
        cursor: pointer;
    }
    .contactHeader p{
        font-size: 16px;
        color: #274760;
        text-align: center;
    }
}


@media screen and (max-width: 450px){
    .contact-image{
        width: 80%;
        height: 250px;
        /* border: 1px solid black; */
        display: flex;
        align-items: end;
        justify-content: end;
    }
    .contactinfo{
        width: 99%;
        height: 510px;
        /* border: 1px solid black; */
        display: flex;
        flex-direction: column;
        gap: 2%;
    }
    .findh1{
        font-family: "Figtree", sans-serif;
        color: #274760;
        font-size: 40px;
        font-weight: 700;
        line-height: 1.2em;
        clear: both;
    }
}

@media screen and (max-width: 421px) {
    .contactHeader h1{
        font-family: "Figtree", sans-serif;
        font-weight: 700;
        line-height: 1.2em;
        clear: both;
        color: #274760;
        font-size: 50px;
    }
    .contact-image{
        width: 90%;
        height: 250px;
        /* border: 1px solid black; */
        display: flex;
        align-items: end;
        justify-content: end;
    }
    .contactHeader{
        width: 90%;
        height: 120px;
        /* border: 1px solid black; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .icon-container{
        width: 100%;
        height: 140px;
        border: 1px solid #307bc4;
        display: flex;
        align-items: center;
        border-radius: 20px;
        -webkit-transition: all 0.4s ease;
        transition: all 0.4s ease;
        cursor: pointer;
    }
}

@media screen and (max-width: 341px){
    .icon-container{
        width: 100%;
        height: 120px;
        border: 1px solid #307bc4;
        display: flex;
        align-items: center;
        border-radius: 20px;
        -webkit-transition: all 0.4s ease;
        transition: all 0.4s ease;
        cursor: pointer;
    }
    .submit-button5{
        width: 40%;
        height: 47px;
        background-color: #307bc4;
        font-size: 18px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 7%;
        border-radius: 20px;
        border: none;
        cursor: pointer;
    }
    .contact-image{
        width: 100%;
        height: 250px;
        /* border: 1px solid black; */
        display: flex;
        align-items: end;
        justify-content: end;
    }
}