.dashboard-div{
    display: flex;
    gap: 15px;
    overflow: hidden;
    /* margin-top: 100px; */
}
  #dark .sidebar-div{
    background-color: rgb(34,37,44);
    /* width: 270px; */
    gap: 0px;
    /* width: 100%; */
} 
#dark{
  background-color: rgb(34,37,44);
}
