
.cs_newsletter_1_wrap {
  position: relative;
}
.cs_newsletter_1_wrap::before {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  height: 70%;
  background-color: #fff;
}

.main-footer{
    width: 100%;
    
}



.cs_newsletter.cs_style_13 .cs_newsletter_title {
  font-size: 42px;
  line-height: 1.23em;
}
.cs_newsletter.cs_style_13 p {
  color: #274760;
  margin: 0;
}
.cs_newsletter.cs_style_13 .cs_newsletter_right {
  min-width: 500px;
}
.cs_newsletter.cs_style_1 .cs_newsletter_right p {
  margin-bottom: 12px;
}


.cs_newsletter_2_wrap {
  position: relative;
}
.cs_newsletter_2_wrap::before {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  height: 50%;
  background-color: #fff;
}

.cs_newsletter.cs_style_2 {
  border-radius: 20px;
  background: linear-gradient(154deg, #d2eaef 0%, #86bbf1 100%);
  -webkit-box-shadow: 6px 4px 70px 8px rgba(48, 123, 196, 0.09);
          box-shadow: 6px 4px 70px 8px rgba(48, 123, 196, 0.09);
  position: relative;
  z-index: 2;
  margin-top: 240px;
}

.cs_newsletter.cs_style_2 .cs_newsletter_form {
  max-width: 560px;
}
.cs_newsletter.cs_style_2 .cs_newsletter_title {
  margin-bottom: 50px;
}

.cs_newsletter.cs_style_2 .cs_newsletter_subtitle {
  margin-bottom: 13px;
}

.cs_newsletter.cs_style_3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0;
  border-bottom: 1px solid #fff;
}


.cs_newsletter.cs_style_3 .cs_newsletter_title {
  font-size: 42px;
  margin-bottom: 0;
}

.cs_newsletter.cs_style_3 .cs_newsletter_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 35px;
}

.cs_social_links_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px 30px;
}
.cs_social_links_wrap h2 {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}




.cs_social_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px;
}
.cs_social_links a:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  background-color: #fff;
}

.cs_accent_bg2 {
    background-color: #307bc4;
}

.cs_footer_bottom_in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 37px 0;
}

.cs_copyright {
  color: rgba(255, 255, 255, 0.5);
}

.cs_footer.cs_style_1 {
  position: relative;
  margin-top: 305px;
}

.cs_footer_main{
    width: 100%;
}

.cs_footer.cs_style_1 .cs_footer_logo_wrap {
  position: absolute;
  height: calc(100% + 200px);
  width: 100%;
  left: 0;
  bottom: 0;
  background-position: top center;
  background-size: cover;
}

.cs_footer.cs_style_1 .cs_footer_brand {
  height: 448px;
  width: 100%;
  background-position: 6px 0px;
  position: absolute;
  left: 50%;
  top: -180px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: 100% 100%;
}
.cs_footer.cs_style_1 .cs_footer_brand img {
  -webkit-animation: spinAnimaiton 6s linear infinite;
          animation: spinAnimaiton 6s linear infinite;
}
.cs_footer_main{
    width: 100%;
}

.cs_footer.cs_style_1 .cs_footer_brand_text {
  font-size: 36px;
  font-weight: 400;
  color: #fff;
  margin: 5px 0 0;
}

.cs_footer.cs_style_1 .cs_text_widget + .cs_contact_widget {
  margin-top: 62px;
}
.cs_footer.cs_style_1 .cs_footer_main {
  padding: 70px 0;
}

.cs_footer_margin_0 + .cs_footer.cs_style_1 {
  margin-top: 0;
}

.cs_footer.cs_style_2 .cs_footer_in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 40px 30px;
  padding: 40px 0 50px;
}

.cs_footer.cs_style_2 .cs_footer_bottom2 {
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding: 30px 0;
}
.cs_footer.cs_style_2 .cs_social_links_wrap {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.cs_footer.cs_style_2 .cs_contact_widget i {
  background-color: #fff;
}
.cs_footer.cs_style_2 .cs_text_widget img + p {
  margin-top: 50px;
}
.cs_footer.cs_style_2 .cs_text_widget + .cs_contact_widget {
  margin-top: 20px;
}
.cs_footer.cs_style_2 .cs_menu_widget + .cs_social_links_wrap {
  margin-top: 80px;
}
.cs_footer.cs_style_2 .cs_menu_widget a:hover {
  color: #fff;
  opacity: 0.6;
}

.cs_footer_main,
.cs_footer_bottom2 {
  position: relative;
  z-index: 2;
}

.cs_text_widget {
  font-size: 29px;
  line-height: 1.5em;
  font-weight: 500;
}
.cs_text_widget p {
  margin: 0;
}

.cs_contact_widget {
  list-style: none;
  padding: 0;
  margin: 0;
}
.cs_contact_widget li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.cs_contact_widget li:not(:last-child) {
  margin-bottom: 13px;
}
.cs_contact_widget i {
  height: 20px;
  width: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border-radius: 50%;
  margin-right: 19px;
  margin-top: 5px;
}

.cs_menu_widget li:not(:last-child) {
  margin-bottom: 17px;
}

.cs_footer_item {
  padding: 30px 0;
}
.wid li{
    color:rgb(39, 71, 96);
}

.cs_footer_spacing_305 {
  width: 100%;
  height: 305px;
}

@-webkit-keyframes spinAnimaiton {
  0% {
    -webkit-transform: rotateX(-20deg) rotateY(0deg);
            transform: rotateX(-20deg) rotateY(0deg);
  }
  75% {
    -webkit-transform: rotateX(-20deg) rotateY(360deg);
            transform: rotateX(-20deg) rotateY(360deg);
  }
  100% {
    -webkit-transform: rotateX(-20deg) rotateY(360deg);
            transform: rotateX(-20deg) rotateY(360deg);
  }
}

@keyframes spinAnimaiton {
  0% {
    -webkit-transform: rotateX(-20deg) rotateY(0deg);
            transform: rotateX(-20deg) rotateY(0deg);
  }
  75% {
    -webkit-transform: rotateX(-20deg) rotateY(360deg);
            transform: rotateX(-20deg) rotateY(360deg);
  }
  100% {
    -webkit-transform: rotateX(-20deg) rotateY(360deg);
            transform: rotateX(-20deg) rotateY(360deg);
  }
}
.cs_footer.cs_style_2 .cs_type_1 .cs_footer_bottom2 {
  border: none;
  padding: 16px 0;
  background: linear-gradient(119deg, #d2eaef 17.16%, #86bbf1 89.78%);
}
.cs_footer.cs_style_2 .cs_type_1 .cs_copyright {
  color: #274760;
}



.main-bottom-footer-container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding-left: 12px;
  padding-right: 12px;
  box-sizing: border-box;
}


.cs_footer_brand{
    width: 100%;
}

.main-footer-row{
    width: 100%;
    color:rgb(39, 71, 96);
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-family:Poppins, sans-serif;
    font-size:16px;
    font-weight: 600;
}

    .col-lg-4433 {
        flex: 0 0 auto;
        width: 30.33333333%;
        height:344.812px;
    }

        .col-lg-222 {
        flex: 0 0 auto;
        width: 16.66666667%;
        height:344.812px;
    }

.cs_footer_item {
    padding: 30px 0;
}
.footer__widget-2.widget_nav_menu li:not(:last-child)
 {
    margin-bottom: 17px;
}

.footer-widget-text-width {
    max-width: 50%;
    line-height: 30px;
    font-family:Poppins, sans-serif;
    font-size:20px;
}





.footer6bbb{
    height: 250px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    gap: 8%;
    font-family:Poppins, sans-serif;
    line-height:25.6px;
    font-weight: 400;
    margin-top: 40px;
}
.cs_newsletter.cs_style1 .cs_newsletter_title {
        font-size: 34px;
    }
.cs_newsletter_title {
    font-weight: 700;
    margin-bottom: 11px;
}

.wpcf7 .screen-reader-response {
    position: absolute;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    word-wrap: normal !important;
}

.cs_newsletter_subTitleew{
    font-family:Poppins, sans-serif;
    font-size:16px;
    font-weight:400;
    line-height:25.6px;
}

.cs_newsletter.cs_style1 .cs_newsletter_form {
    position: relative;
    margin-top: 25px;
}

.cs_form_field10 {
    display: block;
    width: 100%;
    border-radius: 30px;
    outline: none;
    -webkit-transition: all 0.3s 
ease;
    transition: all 0.3s 
ease;
    border: 1px solid rgba(48, 123, 196, 0.5);
    padding: 26px 30px;
    background-color: transparent;
}
    .cs_newsletter.cs_style1 .cs_btn.cs_style_1 {
        top: 10px;
        right: 10px;
    }
.cs_newsletter.cs_style1 .cs_btn.cs_style_1 {
    position: absolute;
    right: 15px;
    top: 5px;
}
.main-form-btn .cs_btn.cs_style_1 {
    background: #274760;
}
.cs_btn.cs_style_1 {
    border-radius: 24px;
    -webkit-box-shadow: 0px 4px 20px 0px rgba(39, 71, 96, 0.17);
    box-shadow: 0px 4px 20px 0px rgba(39, 71, 96, 0.17);
    font-weight: 500;
    color: #fff;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 8px;
    padding: 12px 40px;
    outline: none;
    border: none;
    position: relative;
    background: transparent;
}

    .cs_banner.cs_style_4 {
        padding: 140px 130px 340px;
    }

.cs_btn.cs_style_1::before {
    background-image: linear-gradient(134deg, #307bc4 0%, #274760 100%);
}

.cs_btn.cs_style_1::before, .cs_btn.cs_style_1::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: inherit;
    left: 0;
    top: 0;
    -webkit-transition: all 0.4s 
ease-in-out;
    transition: all 0.4s 
ease-in-out;
}
.cs_btn.cs_style_1::after {
    background-image: -webkit-gradient(linear, right top, left top, from(#307bc4), to(#274760));
    background-image: linear-gradient(270deg, #307bc4 0%, #274760 100%);
    opacity: 0;
}

    .cs_form_field10 {
        padding: 16px 20px;
        border-radius: 15px;
    }

.Mainfooter-container{
    width: 100%;
}

