
.cs_isotop.cs_has_gutter_24 {
    margin-left: -12px;
    margin-right: -12px;
    margin-bottom: -24px;
    width: 100%;
}
.cs_isotop_col_3 .cs_grid_sizer, .cs_isotop_col_3 .cs_isotop_item {
    width: 33.333333%;
}
.cs_isotop.cs_has_gutter_24 .cs_isotop_item {
    padding: 0 12px;
    margin-bottom: 24px;
}
.cs_team.cs_style_1.cs_type_2 {
    -webkit-box-shadow: 0px 4px 21px 1px rgba(48, 123, 196, 0.1);
    box-shadow: 0px 4px 21px 1px rgba(48, 123, 196, 0.1);
    margin-bottom: 25px;
}
.cs_team.cs_style_1 {
    border-radius: 20px;
    background: linear-gradient(154deg, rgba(210, 234, 239, 0.27) 0%, rgba(134, 187, 241, 0.27) 100%);
    -webkit-box-shadow: initial;
    box-shadow: initial;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.cs_team.cs_style_1.cs_type_2 .cs_member_img {
    position: relative;
}


.cs_fs_322aa a {
        font-size: 26px;
        color: rgb(39, 71, 96);
        font-family: Figtree, sans-serif;
        font-weight: 700;
        line-height: 34.06px;
}
.cs_fs_322aa {
    line-height: 1.31em;
}
.cs_member_img img {
    border: none;
    border-radius: 0;
    box-shadow: none;
    height: auto;
    max-width: 100%;
}
.cs_team.cs_style_1 .cs_label {
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    padding: 12px 30px;
    text-align: center;
    min-width: 292px;
    border-radius: 20px 20px 0 0;
    height: 49.6042px;
    font-family: Poppins, sans-serif;
    font-size: 16px;
}
.cs_team.cs_style_1.cs_type_2 .cs_team_meta {
    padding: 30px 25px 34px;
}
.text-center {
    text-align: center !important;
}
.cs_team.cs_style_1.cs_type_2 .cs_member_name {
    margin-bottom: 5px;
}
.cs_team.cs_style_1.cs_type_2 .cs_member_designation, .cs_team.cs_style_1.cs_type_2 .cs_member_description {
    margin-bottom: 28px;
}
.cs_heading_color {
    color: #274760;
}
.cs_medium {
    font-weight: 500;
}
 .cs_member_designation {
    margin-bottom: 9px;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 25.6px;
    text-align: center;
}
.cs_team.cs_style_1.cs_type_2 .cs_member_description {
    margin-bottom: 28px;
}
.cs_team.cs_style_1 .cs_member_description {
    margin-bottom: 32px;
}
.cs_member_description{
    color: rgba(39, 71, 96, 0.52);
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    margin-block-end: 28px;
    margin-bottom: 28px;
    text-align: center;
}
.cs_accent_bg {
    background-color: #307bc4;
}
.cs_team.cs_style_1 .cs_social_links {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.cs_social_links {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 15px;
}
.cs_social_links a {
    height: 20px;
    width: 20px;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    color: #307bc4;
    font-size: 12px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.cs_team.cs_style_1 .cs_social_links a {
    height: 40px;
    width: 40px;
    background-color: rgba(48, 123, 196, 0.6);
    color: #fff;
    font-size: 18px;
    -webkit-transform: initial;
    transform: initial;
}
.cs_team.cs_style_1 .cs_social_links a:hover {
  background-color: #307bc4;
}

.cs_isotop {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}



.findDoctors{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.for-your-health12{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8em;
    color: #27476D;
    font-family: "Figtree", sans-serif;
    font-weight: 700;
    line-height: 2.4em;
    clear: both;
}