@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');


.footer{
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #307bc4;
    flex-direction: column;
    overflow-x: none;
    margin-top: 23%;
}
.column1{
    width: 89%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    gap: 5%;
}
.footer1{
    width: 36%;
    height: 350px;
    padding-top: 7%;
}
.cs_text_widget {
    font-size: 20px;
    line-height: 1.5em;
    font-weight: 500;
}

.cs-text-widget img{
    width:258px;
    height:57px;
}

.cs_medium22 {
    margin-top: 50px;
    line-height: 40px;
    font-family:Poppins, sans-serif;
font-size:20px;
font-weight:500;
color:rgb(255, 255, 255);
}

.cs_footer.cs_style_2 .cs_text_widget + .cs_contact_widget {
    margin-top: 20px;
}
.cs_contact_widget {
    list-style: none;
    padding: 0;
    margin: 0;
}
.cs_contact_widget li:not(:last-child) {
    margin-bottom: 13px;
}

.cs_contact_widget li {
    display: flex;
    -webkit-box-align: start;
    align-items: flex-start;
    margin-top: 10px;
    font-family: Poppins, sans-serif;
    color:rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
}
 .cs_accent_bg {
    background-color: #fff;
}
 .cs_accent_bg {
    height: 20px;
    width: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    border-radius: 50%;
    margin-right: 19px;
}
.cs_contact_widget img {
    height: auto;
}
.cs_contact_widget img {
    border: 0;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}




.street{
    font-size: 15px;
    font-weight: 500;
    color: white;
}
.location1{
    width: 73%;
    height: 50px;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    gap: 10%;
}
.footer2{
    width: 14%;
    height: 250px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    gap: 10%;
    margin-top: 50px;
}
.footer span{
    display: inline-block;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-family: Poppins, sans-serif;
}
.footer3{
    width: 16%;
    height: 250px;
    display: flex;
    flex-direction: column;
    gap: 10%;
    margin-top: 50px;
}
.footer4{
    width: 20%;
    height: 250px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 40%;
}
.privacy{
    width: 100%;
    height: 60px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.icon-box{
    width: 100%;
    height: 90px;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    gap: 5%;
    padding-top: 10px;
}

.icon-box span{
   height: 20px;
    width: 20px;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    color: #307bc4;
    font-size: 12px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
      -webkit-transition: all 0.4s 
ease-in-out;
    transition: all 0.4s 
ease-in-out;
cursor: pointer;
}
.icon-box span:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  background-color: #fff;
}

.icon-box i{
    font-size: 18px;
    color: rgb(48, 123, 196);
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    cursor: pointer;
}
.icon-box i:hover{
    font-size: 20px;
    color: white;
}
.column2{
    width: 89%;
    height: 70px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.5);
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 400;
}



.container2323 {
    max-width: 1140px;
}
.cs_newsletter.cs_style_1 {
    padding: 80px 100px;
 }
.cs_newsletter.cs_style_1 {
    border-radius: 20px;
    background: #fff;
    -webkit-box-shadow: 6px 4px 70px 8px rgba(48, 123, 196, 0.09);
    box-shadow: 6px 4px 70px 8px rgba(48, 123, 196, 0.09);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 107px 135px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 40px 40px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    margin-left: 6%;
}


.cs_newsletter.cs_style_1 .cs_newsletter_title {
    font-size: 42px;
    line-height: 1.23em;
    clear: both;
    color: #274760;
    padding: 0;
    margin: 0 0 20px 0;
    font-weight: 700;
    font-family: "Figtree", sans-serif;
}

.cs_newsletter.cs_style_1 p {
    color: rgb(39, 71, 96);
    margin: 0;
    font-family: Poppins, sans-serif;
}

.cs_newsletter.cs_style_1 .cs_newsletter_right {
    min-width: 400px;
}

.cs_newsletter.cs_style_1 .cs_newsletter_right p {
    margin-bottom: 12px;
}
.cs_newsletter.cs_style_1 p {
    color: #274760;
    margin: 0;
}
.wpcf7 .screen-reader-response {
    position: absolute;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    word-wrap: normal !important;
}
.cs_newsletter.cs_style_1 .cs_newsletter_right p {
    margin-bottom: 12px;
}
.cs_newsletter.cs_style_1 p {
    color: #274760;
    margin: 0;
}

.cs_newsletter.cs_style_1 .cs_form_field, .cs_newsletter.cs_style_2 .cs_form_field, .cs_newsletter.cs_style_3 .cs_form_field {
        border-radius: 30px;
}
.cs_newsletter.cs_style_1 .cs_form_field, .cs_newsletter.cs_style_2 .cs_form_field, .cs_newsletter.cs_style_3 .cs_form_field {
    padding-right: 165px;
}
.wpcf7-form-control-wrap {
    position: relative;
}

.cs_btn.cs_style_1 {
    border-radius: 24px;
    -webkit-box-shadow: 0px 4px 20px 0px rgba(39, 71, 96, 0.17);
    box-shadow: 0px 4px 20px 0px rgba(39, 71, 96, 0.17);
    font-weight: 500;
    color: #fff;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 8px;
    padding: 12px 40px;
    outline: none;
    border: none;
    position: relative;
    background: transparent;
}

.main-form-btn .cs_btn.cs_style_1 {
    background: #274760;
}
.cs_newsletter.cs_style_1 .cs_btn.cs_style_1, .cs_newsletter.cs_style_2 .cs_btn.cs_style_1, .cs_newsletter.cs_style_3 .cs_btn.cs_style_1 {
    position: absolute;
    top: 44%;
    transform: translateY(-50%);
    right: 142px;
}

.cs_btn.cs_style_1::before {
    background-image: linear-gradient(134deg, #307bc4 0%, #274760 100%);
}

.cs_btn.cs_style_1::before, .cs_btn.cs_style_1::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: inherit;
    left: 0;
    top: 0;
    -webkit-transition: all 0.4s 
ease-in-out;
    transition: all 0.4s 
ease-in-out;
}
.cs_btn.cs_style_1::after {
    background-image: -webkit-gradient(linear, right top, left top, from(#307bc4), to(#274760));
    background-image: linear-gradient(270deg, #307bc4 0%, #274760 100%);
    opacity: 0;
}

.cs_btn.cs_style_1::before, .cs_btn.cs_style_1::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: inherit;
    left: 0;
    top: 0;
    -webkit-transition: all 0.4s 
ease-in-out;
    transition: all 0.4s 
ease-in-out;
}

.footer-max{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cs_footer.cs_style_2 .cs_contact_widget i {
    background-color: #fff;
}
.cs_contact_widget i {
    height: 20px;
    width: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    border-radius: 50%;
    margin-right: 19px;
    margin-top: 3px;
}


.cs_accent_bg23{
    background-color: #fff;
}



@media screen and (max-width: 1175px) {
    .location{
        width: 79%;
        height: 50px;
        /* border: 1px solid black; */
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
@media screen and (max-width: 1081px) {
    .location{
        width: 84%;
        height: 50px;
        /* border: 1px solid black; */
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}


@media screen and (max-width: 998px) {
    
}

@media screen and (max-width: 1020px) {
    .location{
        width: 95%;
        height: 50px;
        /* border: 1px solid black; */
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .footer-title{
        width: 100%;
        height: 60px;
        /* border: 1px solid black; */
        font-size: 16px;
        display: flex;
        align-items: center;
        /* font-weight: 500; */
        font-family: "Poppins", sans-serif;
        color: white;
    }
    .location1{
        width: 100%;
        height: 50px;
        /* border: 1px solid black; */
        display: flex;
        align-items: center;
        gap: 10%;
    }
    
}

@media screen and (max-width: 931px) {
    .location{
        width: 100%;
        height: 50px;
        /* border: 1px solid black; */
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

@media screen and (max-width: 907px) {
    .column1{
        width: 70%;
        height: 1000px;
        /* border: 1px solid black; */
        flex-direction: column;
        display: flex;
        align-items: start;
        gap: 5%;
    }
    .footer{
        width: 100%;
        height: 1200px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #307bc4;
        flex-direction: column;
        margin-top: 100px;
    }
    .footer1{
        width: 70%;
        height: 350px;
        /* border: 1px solid black; */
    }
    .location{
        width: 76%;
        height: 50px;
        /* border: 1px solid black; */
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .footer-title{
        width: 100%;
        height: 60px;
        /* border: 1px solid black; */
        font-size: 18px;
        display: flex;
        align-items: center;
        /* font-weight: 500; */
        font-family: "Poppins", sans-serif;
        color: white;
    }
    .street{
        font-size: 20px;
        font-weight: 500;
        color: white;
    }
    .footer2{
        width: 30%;
        height: 500px;
        /* border: 1px solid black; */
        display: flex;
        flex-direction: column;
        gap: 10%;
        margin-top: 50px;
    }
    .footer span{
        display: inline-block;
        color: white;
        font-size: 18px;
    }
    .footer4{
        width: 30%;
        height: 500px;
        /* border: 1px solid black; */
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .icon-box i{
        font-size: 20px;
        color: rgba(255, 255, 255, 0.557);
        -webkit-transition: all 0.4s ease;
        transition: all 0.4s ease;
        cursor: pointer;
    }
}