@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: none;
}

.signup{
    width: 100%;
    height: 598px;
    /* border: 1px solid black; */
    background-image: url(/src/assets/Images/hero_bg1.jpeg);
    background-repeat: no-repeat;
    background-blend-mode: darken;
    background-position: center;
    /* background-color: rgba(0, 0, 0, 0.185); */
    display: flex;
    align-items: center;
    gap: 10%;
}
.Signup-title{
    width: 45%;
    height: 150px;
    /* border: 1px solid black; */
    padding-left: 55px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10%;
}
.Signup-title h2{
    font-family: "Figtree", sans-serif;
    font-weight: 700;
    line-height: 1.2em;
    clear: both;
    color: #274760;
    font-size: 56px;
}
.Signup-title p{
    font-size: 20px;
    line-height: 1.5em;
    color: #274760;
}
.signup img{
    border: 0;
    max-width: 130%;
    height: auto;
    vertical-align: end;
}
.sign-up-imagediv{
    width: 40%;
    height: 610px;
    /* border: 1px solid black; */
    display: flex;
    align-items: end;
    justify-content: end;
}
.signup-form{
    width: 100%;
    height: 520px;
    /* border: 1px solid black; */
}


.contactform3{
    width: 100%;
    height: 480px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-container3{
    width: 75%;
    height: 620px;
    /* border: 1px solid black; */
    background-color: white;
    border-radius: 20px;
    box-shadow: 3px 3px 3px 3px gray;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contactinfo3{
    width: 80%;
    height: 560px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    gap: 2%;
}
.Namediv3{
    width: 100%;
    height: 100px;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4%;
}

.signup-group input,
.signup-group .react-datepicker-wrapper,
.signup-group .react-select__control {
  width: 100%;
  height: 65px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 20px;
  font-size: 16px;
  border: 1px solid #274760;
  outline: none;
}
.signup-group{
    width: 50%;
    height: 100px;
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
}
.signup-group2{
    width: 50%;
    height: 100px;
    display: flex;
    gap: 6%;
    flex-direction: column;
    /* border: 1px solid black; */
}
.signup-group1{
    width: 100%;
    height: 100px;
    display: flex;
    gap: 6%;
    flex-direction: column;
    /* border: 1px solid black; */
}
.input3 {
  width: 100%;
  height: 65px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 20px;
  font-size: 16px;
  border: 1px solid #274760;
  outline: none;
}
.select3{
    width: 100%;
  height: 65px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 20px;
  font-size: 16px;
  border: 1px solid #274760;
  background-color: none;
  outline: none;
}
.date1{
    width: 100%;
    height: 65px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
    font-size: 16px;
    border: 1px solid #274760;
    outline: none;
}
.signup-group3{
    width: 50%;
    height: 100px;
    display: flex;
    gap: 6%;
    flex-direction: column;
    /* border: 1px solid black; */
}
.submit-button{
    width: 20%;
    height: 47px;
    background-color: #307bc4;
    font-size: 18px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7%;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}
.signup-last{
    width: 100%;
    height: 70px;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    font-size: 19px;
    color: #274760;
}
.signup-last .bi-person-fill-check{
    font-size: 20px;
    font-family: "Poppins", sans-serif;
}
.fullname-input{
    width: 100%;
}