
.cs_height_96 {
    width: 100%;
    height: 96px;
    overflow: hidden;
}
.cs_post.cs_style_1 .cs_type_1 {
    padding: 28px 28px 0;
    padding-top:28px;
}

.cs_row_gap_50 {
    width: 100%;
    gap: 50px 0;
}

.rowwe {
    display: flex;
    align-items: center;
    justify-content: center;
}

.col-xl-434 {
    flex: 0 0 auto;
    padding-left: 12px;
    padding-right: 12px;
    width: 31.33333333%;
    height:585.323px;
}


.cs_post.cs_style_1 .cs_post_thumb {
    display: block;
    width: 100%;
}
 a {
    box-shadow: none;
    text-decoration: none;
}
.cs_post.cs_style_1 .cs_post_info {
    padding: 30px 40px 40px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.cs_post.cs_style_1 .cs_post_meta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 28px;
}

.cs_post_thumb img {
   width:340px;
   height:240.115px;
   border-radius: 20px;
   vertical-align: middle;
   aspect-ratio: 1000 / 667;
   border-image-width: 1px;
   overflow-x: clip;
   overflow-y: clip;
   margin-left: 15px;
   margin-top: 15px;
}

.cs_posted_by{
    color: rgba(39, 71, 96, 0.52);
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.cs_post.cs_style_1 .cs_post_social {
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
}

.cs_post.cs_style_1 .cs_post_social a {
    height: 30px;
    width: 30px;
    border: 1px solid #307bc4;
    color: #307bc4;
    font-size: 14px;
        -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.fa-linkedin-in:before {
    content: "\f0e1";
}
.cs_post.cs_style_1 .cs_post_social a:hover {
  background-color: #307bc4;
  color: #fff;
}

 .cs_post_title a {
    margin-bottom: 18px;
    color: #274760;
    font-family: "Figtree", sans-serif;
    line-height: 34.06px;
    font-size: 24px;
    font-weight: 600;
}

.cs_post_title a:hover {
   text-decoration: none;
   color: #307bc4;
}

.cs_heading_color {
    color: #274760;
}
.cs_medium {
    font-weight: 500;
}

.cs_post_btn{
    color: #274760;
    font-family: Poppins, sans-serif;
    font-size: 16px;
}

.cs_post.cs_style_1 {
  -webkit-box-shadow: 0px 4px 21px 1px rgba(48, 123, 196, 0.1);
          box-shadow: 0px 4px 21px 1px rgba(48, 123, 196, 0.1);
  border-radius: 20px;
  overflow: hidden;
  background-color: #fff;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.cs_post.cs_style_1:hover {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  -webkit-box-shadow: 6px 4px 70px 8px rgba(48, 123, 196, 0.09);
          box-shadow: 6px 4px 70px 8px rgba(48, 123, 196, 0.09);
}

.cs_post.cs_style_1 .cs_post_btn {
    display: inline-block;
}
.cs_post.cs_style_1 .cs_post_btn:hover {
  text-decoration: underline;
}

